#root {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  /* background: linear-gradient(#e66465, #9198e5); */
  background-color: #f5f7fa;
  color: rgb(44, 44, 44)
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.cardContainer {
  width: 90vw;
  max-width: 670px;
  height: 610px;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 660px;
  height: 600px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons .button {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  transition: 250ms;
  margin: 0 10px;
  box-shadow: 0 2px 6px 0 rgba(112,125,134,0.14);
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.buttons .button:hover {
  transform: scale(1.1);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}